/* CustomPhoneInput.css */
.phone-input-container .PhoneInput {
  width: 100%;
  border: 1px solid #8f8f8f80;
  padding: 7px 10px;
  border-radius: 0.5rem;
  background-color: "transparent";
  transition: border-color 0.3s;
}

.phone-input-container .PhoneInputInput {
  border: none;
  outline: none;
  box-shadow: none;
  width: calc(100% - 40px); /* Adjust width as needed */
  background-color: transparent; /* Match the container background */
  padding-left: 10px; /* Align the text properly */
}

.phone-input-container .PhoneInput--focus {
  border-color: #000 !important;
}

.phone-input-container .PhoneInputCountrySelect {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  padding: 2px 4px;
  margin: 0;
}

.phone-input-container .PhoneInputCountry {
  display: flex;
  align-items: center;
}

.phone-input-container .PhoneInputCountryIcon {
  margin-right: 8px;
  margin-left: 5px;
  width: 21px;
  height: 14px;
  border: "none";
}

.phone-input-container .PhoneInputCountrySelectArrow {
  display: none;
}
