@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light) theme */
:root {
  --color-primary: #9aea49;
  --color-primary-dark: #7cbf3f;
  /* Background */
  --color-background: #f5f5f5;
  --color-background-secondary: #eeeeee;
  --color-background-tertiary: #f0f0f0;
  /* Text */
  --color-text-primary: #0d0d0d;
  --color-text-secondary: #333333;
  --color-text-secondary-light: #a8a29e;
  --color-text-primary-light: #ffffff;
  /* Border */
  --color-border: #d6d6d6;
  --color-border-primary: #0d0d0d1c;
  /* Hover */
  --color-hover-primary: #cecece36;
  /* Sidebar colors */
  --color-sidebar-primary: #171717;
  --color-sidebar-text: #e7e5e4;
  /* Buttons */
  --color-button-primary-dark: #1f1f1f;
  --color-button-primary-dark-hover: #4b4b4b;
}

/* Dark theme */
[data-theme="dark"] {
  --color-primary: #9aea49;
  --color-primary-dark: #7cbf3f;
  /* Background */
  --color-background: #171717;
  --color-background-secondary: #212121;
  --color-background-tertiary: #181818;
  /* Text */
  --color-text-primary: #e7e5e4;
  --color-text-secondary: #a8a29e;
  --color-text-secondary-light: #696969;
  --color-text-primary-light: #0d0d0d;
  /* Border */
  --color-border: #2e2c2b;
  --color-border-primary: #9aea493d;
  /* Hover */
  --color-hover-primary: #141414;
  /* SIdebar colors */
  --color-sidebar-primary: #171717;
  --color-sidebar-text: #e7e5e4;
  /* Buttons */
  --color-button-primary-dark: #212121;
  --color-button-primary-dark-hover: #171717;
}

/* Disable all transitions when the class 'disable-transitions' is applied */
.disable-transitions *,
.disable-transitions *::before,
.disable-transitions *::after {
  transition: none !important;
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* For Chrome, Safari, and Edge */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Darker scrollbar */
  border-radius: 4px; /* Rounded corners for the scrollbar */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Track color */
}

body {
  background-color: var(--color-background);
}
