@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light) theme */
:root {
  --color-primary: #9aea49;
  --color-primary-dark: #8cd844;
  --color-primary-light: #7dbf3f21;
  /* Background */
  --color-background: #fcfcfc;
  --color-background-secondary: #f3f3f3;
  --color-background-tertiary: #f0f0f0;
  /* Text */
  --color-text-primary: #0d0d0d;
  --color-text-secondary: #333333;
  --color-text-secondary-light: #a8a29e;
  --color-text-primary-light: #ffffff;
  /* Border */
  --color-border: #d6d6d6;
  --color-border-primary: #0d0d0d1c;
  --color-border-secondary: #7cbf3f;
  /* Hover */
  --color-hover-primary: #cecece36;
  /* Sidebar colors */
  --color-sidebar-primary: #171717;
  --color-sidebar-text: #e7e5e4;
  /* Buttons */
  --color-button-primary-dark: #1f1f1f;
  --color-button-primary-dark-hover: #4b4b4b;
}

/* Dark theme */
[data-theme="dark"] {
  --color-primary: #9aea49;
  --color-primary-dark: #8cd844;
  --color-primary-light: #2d352285;
  /* Background */
  --color-background: #171717;
  --color-background-secondary: #212121;
  --color-background-tertiary: #181818;
  /* Text */
  --color-text-primary: #e7e5e4;
  --color-text-secondary: #c4c4c4;
  --color-text-secondary-light: #696969;
  --color-text-primary-light: #0d0d0d;
  /* Border */
  --color-border: #2e2c2b;
  --color-border-primary: #9aea493d;
  --color-border-secondary: #7dbf3f70;
  /* Hover */
  --color-hover-primary: #141414;
  /* SIdebar colors */
  --color-sidebar-primary: #171717;
  --color-sidebar-text: #e7e5e4;
  /* Buttons */
  --color-button-primary-dark: #212121;
  --color-button-primary-dark-hover: #171717;
}

/* Disable all transitions when the class 'disable-transitions' is applied */
.disable-transitions *,
.disable-transitions *::before,
.disable-transitions *::after {
  transition: none !important;
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* For Chrome, Safari, and Edge */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Darker scrollbar */
  border-radius: 4px; /* Rounded corners for the scrollbar */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Track color */
}

/* Scrollbar for selection component */
.custom-scrollbar-select::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar-select::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  margin: 17px 0px;
}

.custom-scrollbar-select::-webkit-scrollbar-thumb {
  background-color: var(--color-border-primary);
  border-radius: 10px;
  background-clip: padding-box;
}

/* Scrollbar for meal plan component */
.custom-scrollbar-mealplan::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar-mealplan::-webkit-scrollbar-track {
  background-color: var(--color-background);
  border-radius: 10px;
  margin: 0px;
}

.custom-scrollbar-mealplan::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
  background-clip: padding-box;
}

body {
  background-color: var(--color-background);
}

@media (max-width: 768px) {
  table {
    display: block;
  }

  thead {
    display: none;
  }

  tbody,
  tr {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 1rem;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  td::before {
    content: attr(data-label);
    font-weight: 600;
    text-transform: uppercase;
  }
}
