@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light) theme */
:root {
  --color-primary: #9aea49;
  --color-primary-dark: #7cbf3f;
  --color-background: #ececec7c;
  /* --color-background: #f5f5f4; */
  /* --color-background-secondary: #e7e5e4; */
  --color-background-secondary: #dddddd7e;
  --color-text-primary: #0d0d0d;
  --color-text-secondary: #333333;
  --color-border: #d6d6d6;
  --color-border-primary: #0d0d0d1c;
  --color-hover-primary: #cecece36;
}

/* Dark theme */
[data-theme="dark"] {
  --color-primary: #9aea49;
  --color-primary-dark: #7cbf3f;
  --color-background: #101010;
  --color-background-secondary: #141414;
  --color-text-primary: #e7e5e4;
  --color-text-secondary: #a8a29e;
  /* --color-text-secondary: #424242; */
  --color-border: #292524;
  --color-border-primary: #9aea493d;
  --color-hover-primary: #141414;
}

/* Disable all transitions when the class 'disable-transitions' is applied */
.disable-transitions *,
.disable-transitions *::before,
.disable-transitions *::after {
  transition: none !important;
}

/* Re-enable transitions for normal usage (default behavior) */
* {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
