@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light) theme */
:root {
  --color-primary: #aadb34;
  --color-primary-dark: #90bb2d;
  --color-primary-light: #b6e44b;

  --color-secondary: #00180d;
  /* Background */
  --color-background: #fcfcfc;
  --color-background-secondary: #f3f3f3;
  --color-background-light: #e4e4e4c2;
  --color-background-dark: #2e2e2ec2;
  /* Text */
  --color-text-primary: #0d0d0d;
  --color-text-secondary: #3b3b3b;
  /* Border */
  --color-border-primary: #d6d6d6;
  --color-border-dark: #c0c0c0;
  --color-border-light: #e9e9e9;
  /* Hover */
  --color-hover-primary: #eeeeee;
  --color-hover-secondary: #eeeeee8d;
  /* Placeholder */
  --color-placeholder: #868686;
}

/* Dark theme */
[data-theme="dark"] {
  --color-primary: #aadb34;
  --color-primary-dark: #90bb2d;
  --color-primary-light: #b6e44b;

  --color-secondary: #080808;
  /* Background */
  --color-background: #202020;
  --color-background-secondary: #141414;
  --color-background-light: #1d1d1d;
  --color-background-dark: #181818;
  /* Text */
  --color-text-primary: #e7e5e4;
  --color-text-secondary: #a7a7a7;
  /* Border */
  --color-border-primary: #2e2e2ec3;
  --color-border-dark: #222222;
  --color-border-light: #363636;
  /* Hover */
  --color-hover-primary: #141414;
  --color-hover-secondary: #1d1d1dd3;
  /* Placeholder */
  --color-placeholder: #7c7c7c;
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* For Chrome, Safari, and Edge */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Darker scrollbar */
  border-radius: 4px; /* Rounded corners for the scrollbar */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Track color */
}

/* Scrollbar for selection component */
.custom-scrollbar-select::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar-select::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  margin: 17px 0px;
}

.custom-scrollbar-select::-webkit-scrollbar-thumb {
  background-color: var(--color-border-primary);
  border-radius: 10px;
  background-clip: padding-box;
}

/* Scrollbar for meal plan component */
.custom-scrollbar-mealplan::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar-mealplan::-webkit-scrollbar-track {
  background-color: var(--color-background);
  border-radius: 10px;
  margin: 0px;
}

.custom-scrollbar-mealplan::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
  background-clip: padding-box;
}

body {
  background-color: var(--color-background);
}

@media (max-width: 768px) {
  table {
    display: block;
  }

  thead {
    display: none;
  }

  tbody,
  tr {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 1rem;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  td::before {
    content: attr(data-label);
    font-weight: 600;
    text-transform: uppercase;
  }
}
